body {
    background-color: #212121;
}

#login h1 a {
    background-image: url('https://web.tajidyakub.com/wp-content/themes/minimalist/icns/apple-icon-76x76.png');
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #444;
    height: 84px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
}
